@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700;900;&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
    list-style: none;
}

body{
    background-color:  #ab9377;
    font-family: "Poppins", sans-serif;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 70vh;
} 

.swiper-slide{
    padding: 0 80px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;

}

.swiper-button-prev{
    color: #744f26;
}
.sw
iper-button-next{
    color: #744f26;
}
.sw
iper-pagination-bullet{
    background-color: #747474;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #7270EC;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    color: #7270EC;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FEFFFF;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #7270EC;

}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E5B5076;
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th,td {
    color: #000;
}